@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

* {
  overflow: hidden;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body,
input,
button {
  font-size: 1rem;
  font-family: "Orbitron", sans-serif;
}
body {
  color: #03dac5;
}
input,
button {
  border: none;
  outline: none;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
}

.navbar {
  background-color: #b030b0;
  color: #03dac5;
}

.navbar ul {
  display: flex;
  padding: 0;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 100%;
  list-style-type: none;
}

.navbar ul li a,
li a:visited {
  color: #03dac5;
  text-decoration: none;
}

.Signup {
  position: relative;
  height: 100vh;
  display: grid;
  align-items: center;
}

.container {
  position: relative;
  background-color: hsla(0, 0%, 10%, 0.1);
  border: 2px solid white;
  margin-inline: 1.5rem;
  padding: 2.5rem 1.5rem;
  border-radius: 1rem;
  backdrop-filter: blur(10px);
}
.Signup_title {
  text-align: center;
  font-size: 1.75rem;
  font-weight: 500;
  margin-bottom: 2rem;
}
.Signup_content,
.Signup_box {
  display: grid;
}
.Signup_content {
  row-gap: 1.75rem;
  margin-bottom: 1.5rem;
}
.Signup_box {
  grid-template-columns: max-content 1fr;
  align-items: center;
  column-gap: 0.75rem;
  border-bottom: 2px solid #03dac5;
}

.Signup_input {
  width: 100%;
  padding-block: 0.8rem;
  background: none;
  color: #03dac5;
  position: relative;
  z-index: 1;
}
.Signup_box-input {
  position: relative;
}
.Signup_label {
  position: absolute;
  left: 0;
  top: 13px;
  font-weight: 500;
  transition: top 0.3s, font-size 0.3s;
}

.Signup_box:nth-child(2) input {
  padding-right: 1.8rem;
}

.Signup_register {
  font-size: 0.813rem;
}

.Signup_button {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  background-color: #fff;
  font-weight: 500;
  cursor: pointer;
  margin-bottom: 2rem;
  color: #602080;
}
.Signup_register {
  text-align: center;
}
.Signup_register a {
  color: #03dac5;
  font-weight: 500;
}
.Signup_register a:hover {
  text-decoration: underline;
}

.Signup_input:focus + .Signup_label {
  top: -12px;
  font-size: 0.813rem;
}
.Signup_input:not(:placeholder-shown):not(:focus) + .Signup_label {
  top: -12px;
  font-size: 0.813rem;
}

@media screen and (min-width: 576px) {
  .Signup {
    justify-content: center;
  }
  .container {
    width: 400px;
    padding: 4rem 3rem 3.5rem;
    border-radius: 1.5rem;
  }
  .Signup_title {
    font-size: 2rem;
  }
}
