<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Affordable and Clean Energy</title>
    <link rel="stylesheet" href="CSS/goal.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="goal select">Goals</a></li>
          <li><a href="signup">Signup</a></li>
          <li><a href="team">Team Info</a></li>
        </ul>
      </nav>
    </header>

    <div id="Img_summary">
      <img src="Assets/clean energy.webp" id="SDG_logo" />
      <p id="Summary">
        Access to affordable, clean energy is crucial for development and
        environmental sustainability. By expanding renewable energy sources like
        solar and wind, and improving energy efficiency, we can reduce reliance
        on fossil fuels, lower emissions, and ensure that energy is available to
        all communities, especially in underserved regions.
      </p>
    </div>
    <div id="Img_stats">
      <p id="Stats">
        <ul id="List">
            <li>
                675 million people still live without electricity, with 4 in 5 of them in Sub-Saharan Africa (as of 2021)
            </li>
            <li>
                Energy efficiency improvement must more than double its pace: Between 2015 and 2020, the annual energy intensity improvement rate was 1.4%. From 2020 to 2025, it needs to increase to 3.4%
            </li>
            <li>
                International public financing for clean energy in developing countries is declining: In 2017: $28.4 billion. By 2021: Decreased to $10.8 billion 
            </li>
            <li>
                If current trends continue, 1 in 4 people will still rely on unsafe and inefficient cooking systems by 2030
            </li>
            <li>
                28.2% of electricity is from modern renewables
            </li>
        </ul>
      </p>
      <img src="Assets/energy extra.png" id="Extra" />
    </div>
  </body>
</html>
