<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Good Health and Wellbeing</title>
    <link rel="stylesheet" href="CSS/goal.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="goal-select">Goals</a></li>
          <li><a href="signup">Signup</a></li>
          <li><a href="team">Team Info</a></li>
        </ul>
      </nav>
    </header>

    <div id="Img_summary">
      <img src="Assets/health.webp" id="SDG_logo" />
      <p id="Summary">
        Good health is essential for a thriving society. The goal of improving
        health and well-being aims to reduce preventable diseases, improve
        access to healthcare, and ensure that essential medicines and vaccines
        are available to all. It also emphasizes mental health and the reduction
        of road traffic accidents, creating healthier environments for everyone.
      </p>
    </div>
    <div id="Img_stats">
      <p id="Stats">
        <ul id="List">
            <li>
                146 out of 200 countries or areas have already met or are on track to meet the under-5 mortality target
            </li>
            <li>
                Effective HIV treatment has reduced global AIDS-related deaths by 52% since 2010
            </li>
            <li>
                At least one neglected tropical disease has been eliminated in 47 countries
            </li>
            <li>
                25 million children missed out on important routine immunizations in 2021, which is 6 million more than in 2019
            </li>
            <li>
                381 million people (4.9% of the population) have been pushed or further pushed into extreme poverty due to out-of-pocket payments for health services
            </li>
            <li>
                A woman dies every two minutes from preventable causes related to pregnancy and childbirth (2020 statistic)
            </li>
        </ul>
      </p>
      <img src="Assets/health extra.jpg" id="Extra" />
    </div>
  </body>
</html>
