<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UN SDGs</title>
    <link rel="stylesheet" type="text/CSS" href="/CSS/home.css" />
  </head>
<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="/index">Home</a></li>
        <li><a href="/goal-select">Goals</a></li>
        <li><a href="/signup">Signup</a></li>
        <li><a href="/team">Team Info</a></li>
      </ul>
    </nav>
  </header>

  <h1>UN Sustainability Development Goals</h1>
  <div class="Main_content">
    <div id="Group_info">
      <h3>Group Members</h3>
      <ul id="Name_list">
        <li>Artemy Kourtchev</li>
        <li>Oliver Brightwell</li>
        <li>Ben Maddison</li>
        <li>Ahmed Mokhles</li>
      </ul>
    </div>
    <div id="Summary">
      <p>
        The United Nations Sustainable Development Goals (SDGs) are a universal
        call to action to end poverty, protect the planet, and ensure peace and
        prosperity for all by 2030. Adopted in 2015 by all UN member states, the
        17 goals are part of the 2030 Agenda for Sustainable Development,
        providing a blueprint for addressing the world's most pressing
        challenges. The SDGs are interconnected, balancing economic growth,
        social inclusion, and environmental sustainability. They aim to create a
        fairer, more sustainable world by promoting inclusive development,
        reducing inequalities, and tackling issues like climate change and
        environmental degradation, ensuring that no one is left behind.
      </p>
    </div>
  </div>
  <div id="Button_container">
    <a href="/signup">
      <button id="Newsletter_button">Sign Up To Newsletter</button>
    </a>
  </div>
</body>
</html>
