<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Land Life</title>
    <link rel="stylesheet" href="CSS/goal.css" />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="goal select">Goals</a></li>
          <li><a href="signup">Signup</a></li>
          <li><a href="team">Team Info</a></li>
        </ul>
      </nav>
    </header>

    <div id="Img_summary">
      <img src="Assets/land life.webp" id="SDG_logo" />
      <p id="Summary">
        Protecting our planet's ecosystems is vital for biodiversity and the
        health of life on land. This goal seeks to halt deforestation, restore
        degraded lands, and promote the sustainable use of natural resources. By
        preserving forests and combating desertification, we not only protect
        wildlife but also strengthen ecosystems that support human life and
        mitigate climate change.
      </p>
    </div>
    <div id="Img_stats">
      <p id="Stats">
        <ul id="List">
            <li>
                100 million hectares of healthy and productive land were degraded every year from 2015–2019, which is equivalent to 2 times the size of Greenland
            </li>
            <li>
                The world is currently facing the largest species extinction event since the dinosaur age
            </li>
            <li>
                Protected area coverage of key biodiversity areas has stalled since 2015
            </li>
            <li>
                The Kunming-Montreal Global Biodiversity Framework provides a renewed impetus for conserving terrestrial ecosystems, with 4 outcome-oriented goals by 2050 and 23 targets by 2030 
            </li>
        </ul>
      </p>
      <img src="Assets/land life extra.jpg" id="Extra" />
    </div>
  </body>
</html>
