<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link rel="stylesheet" href="CSS/signup.css" />
    <script src="JavaScript/signup.js"></script>
  </head>

  <body>
    <!--The navbar is here-->
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="goal-select">Goals</a></li>
          <li><a href="signup" class="active">Signup</a></li>
          <li><a href="team">Team Info</a></li>
        </ul>
      </nav>
    </header>

    <div class="Signup">
      <div id="image-container">
        <!--Replace src with image src if using single image instead of multiple (remember to remove the code below that makes images change)-->
        <img src="" id="image" alt="background image" />
      </div>

      <form action="/signup" method="POST" class="container">
        <h1 class="Signup_title">Sign Up For Newsletter</h1>

        <div class="Signup_content">
          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-name"
                placeholder=""
                name="Signup-name"
              />
              <label for="Signup-name" class="Signup_label">Name</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-surname"
                placeholder=""
              />
              <label for="Signup-surname" class="Signup_label">Surname</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="email"
                required
                class="Signup_input"
                id="Signup-email"
                placeholder=""
                email="Signup-email"
              />
              <label for="Signup-email" class="Signup_label">Email</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-comment"
                placeholder=""
                comment="Signup-comment"
              />
              <label for="Signup-comment" class="Signup_label">Comment</label>
            </div>
          </div>
        </div>

        <!-- add in this div for more content under the password i.e. Remember login checkbox -->

        <button type="submit" id="Signup-button" class="Signup_button">
          Signup
        </button>
      </form>
    </div>
  </body>
</html>
