<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Account</title>
    <link rel="stylesheet" href="CSS/signup.css" />
  </head>

  <body>
    <!--The navbar is here-->
    <header>
      <nav class="navbar">
        <ul>
          <li><a href="index">Home</a></li>
          <li><a href="goal-select">Goals</a></li>
          <li><a href="signup">Signup</a></li>
          <li><a href="team">Team Info</a></li>
        </ul>
      </nav>
    </header>

    <div class="Signup">
      <div
        id="image-container"
        style="
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100vh;
          z-index: -1;
        "
      >
        <!--Replace src with image src if using single image instead of multiple (remember to remove the code below that makes images change)-->
        <img src="" id="image" alt="background image" />
      </div>

      <form action="" class="container">
        <h1 class="Signup_title">Sign Up For Newsletter</h1>

        <div class="Signup_content">
          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-name"
                placeholder=""
              />
              <label for="Signup-name" class="Signup_label">Name</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-surname"
                placeholder=""
              />
              <label for="Signup-surname" class="Signup_label">Surname</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="email"
                required
                class="Signup_input"
                id="Signup-email"
                placeholder=""
              />
              <label for="Signup-email" class="Signup_label">Email</label>
            </div>
          </div>

          <div class="Signup_box">
            <div class="Signup_box-input">
              <input
                type="text"
                required
                class="Signup_input"
                id="Signup-comment"
                placeholder=""
              />
              <label for="Signup-comment" class="Signup_label">Comment</label>
            </div>
          </div>
        </div>

        <!-- add in this div for more content under the password i.e. Remember login checkbox -->

        <button type="submit" class="Signup_button">Signup</button>
      </form>
    </div>

    <script>
      var nodemailer = require("nodemailer");

      let image = document.getElementById("image");
      /* Add image paths here or remove if only single image wanted*/
      let images = [
        "Assets/img 1.jpg",
        "Assets/img 2.jpg",
        "Assets/img 3.jpg",
        "Assets/img 4.jpg",
      ];

      function setImage() {
        let random = Math.floor(Math.random() * images.length);
        image.src = images[random];
      }

      //set up the email transporter for nodemailer
      const transporter = nodemailer.createTransport({
        host: "smtp.gmail.com",
        port: 465,
        secure: true,
        auth: {
          type: "OAuth2",
          user: "un.sdg.newsletter@gmail.com",
          accessToken: "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",
        },
      });

      //alternative if OAuth2 doesn't work (gmail doesn't like this method)

      // const transporter = nodemailer.createTransport({
      //   host: "smtp.gmail.com",
      //   port: 465,
      //   secure: true,
      //   auth: {
      //     user: "un.sdg.newsletter@gmail.com",
      //     pass: "@UNsdgProject",
      //   },
      // });

      //the functiom for processing button click and form submit
      async function submission() {
        var email = document.getElementById("Signup-email").value;
        var name = document.getElementById("Signup-name").value;
        var surname = document.getElementById("Signup-surname").value;
        var fullName = name + " " + surname;

        sendEmail(email, fullName);
      }

      //the function to actually send the email
      async function sendEmail(email, name) {
        const info = await transporter.sendMail({
          from: '"UEA UN Sustainability Development Goal Team" <un.sdg.newsletter@gmail.com>',
          to: email,
          subject: "Newsletter Signup",
          text: `Thank you ${name} for signing up to our newsletter`,
        });
      }

      window.onload = setImage;
    </script>
  </body>
</html>
