<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title></title>
    <link rel="stylesheet" href="CSS/team.css" />
    <script src="JavaScript/team.js" defer></script>
  </head>
</html>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="goal-select">Goals</a></li>
        <li><a href="signup">Signup</a></li>
        <li><a href="team" class="active">Team Info</a></li>
      </ul>
    </nav>
  </header>

  <h1 id="header"></h1>
  <div id="Main" class="Main">
  </div>
</body>
