<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UN SDGs</title>
    <link rel="stylesheet" href="CSS/team.css" />
  </head>
</html>

<body>
  <header>
    <nav class="navbar">
      <ul>
        <li><a href="index">Home</a></li>
        <li><a href="goal-select">Goals</a></li>
        <li><a href="signup">Signup</a></li>
        <li><a href="team">Team Info</a></li>
      </ul>
    </nav>
  </header>

  <h1>Team Members</h1>
  <div class="Main">
    <div class="Member_group">
      <!--Member: Artemy-->
      <div class="Member">
        <h2 class="Member_name">Artemy Kourtchev</h2>
        <p class="Member_bio">Undergraduate student at UEA studying Computer Science</p>
        <h4 class="Role">Team Member</h4>
        <div class="Responsibilities">
          <p class="List_title">Responsibilities:</p>
          <ul class="Responsibilities_list">
            <li>Setting Up Project</li>
            <li>Maintaining GitHub</li>
            <li>Coding</li>
            <li>Module Management</li>
          </ul>
        </div>
        <div class="Contributions">
          <p class="List_title">Contributions:</p>
          <ul class="Contributions_list">
            <li>Writing HTML Code</li>
            <li>Setting Up EJS Pages</li>
            <li>Writing base CSS code</li>
            <li>Client Side JavaScript</li>
          </ul>
        </div>
      </div>
      <!--Member: Ollie-->
      <div class="Member">
        <h2 class="Member_name">Oliver Brightwell</h2>
        <p class="Member_bio">Enter Short Bio</p>
        <h4 class="Role">Team Member</h4>
        <div class="Responsibilities">
          <p class="List_title">Responsibilities:</p>
          <ul class="Responsibilities_list">
            <li>Coding</li>
            <li>Responsibility 2</li>
            <li>Responsibility 3</li>
            <li>Responsibility 4</li>
          </ul>
        </div>
        <div class="Contributions">
          <p class="List_title">Contributions:</p>
          <ul class="Contributions_list">
            <li>Made all web pages resposive</li>
            <li>Created json files for dynamically loading content</li>
            <li>Contribution 3</li>
            <li>Contribution 4</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="Member_group">
      <!--Member: Ben-->
      <div class="Member">
        <h2 class="Member_name">Ben Maddison</h2>
        <p class="Member_bio">My favourite food is beans on toast</p>
        <h4 class="Role">Team Member</h4>
        <div class="Responsibilities">
          <p class="List_title">Responsibilities:</p>
          <ul class="Responsibilities_list">
            <li>Setting up Ejs pages</li>
            <li>Nav Bar functionality</li>
            <li>Server side JavaScript</li>
            <li>Site Guide</li>
          </ul>
        </div>
        <div class="Contributions">
          <p class="List_title">Contributions:</p>
          <ul class="Contributions_list">
            <li>Contribution 1</li>
            <li>Contribution 2</li>
            <li>Contribution 3</li>
            <li>Contribution 4</li>
          </ul>
        </div>
      </div>
      <!--Member: Ahmed-->
      <div class="Member">
        <h2 class="Member_name">Ahmed Mokhles</h2>
        <p class="Member_bio">Enter Short Bio</p>
        <h4 class="Role">Enter role</h4>
        <div class="Responsibilities">
          <p class="List_title">Responsibilities:</p>
          <ul class="Responsibilities_list">
            <li>Responsibility 1</li>
            <li>Responsibility 2</li>
            <li>Responsibility 3</li>
            <li>Responsibility 4</li>
          </ul>
        </div>
        <div class="Contributions">
          <p class="List_title">Contributions:</p>
          <ul class="Contributions_list">
            <li>Contribution 1</li>
            <li>Contribution 2</li>
            <li>Contribution 3</li>
            <li>Contribution 4</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>
